@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Add this to globals.css */
.hero-image {
  mix-blend-mode: multiply;
  background: white;
}

.hero-image-dark {
  mix-blend-mode: screen;
  background: black;
}
/* In globals.css */
.hero-image-container img {
  mix-blend-mode: multiply;
  background: white !important;
}